<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  {{!--
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"> --}}
  <link rel="stylesheet" href="css/style.css">
  <title>Payment Gateway-saransh@rock</title>
  {{!-- favicon start --}}
  <link rel="icon" href="images/favicon/favicon.png" type="image/png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png" type="image/png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
  <link rel="manifest" href="images/favicon/site.webmanifest">
  <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  {{!-- favicon end --}}

  <style>
    .form_container {
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    input[type=email],
    input[type=password],
    input[type=submit] {
      padding: 5px 75px;
      font-size: 15px;
    }

    input[type=submit] {
      border: none;
      border-radius: 15px;
      font-weight: 800;
      padding: 8px 26px;
      background: darkgray;
      color: white;
      outline: none;
    }

    input[type=submit]:hover{
      background-color: blueviolet;
      color: coral;
    }

  </style>
</head>

<body>

  {{!-- For dark mode --}}
  <nav>
    <div class="dark">
      <div class="Darkcenter">
        <input id="dark" type="checkbox">
      </div>
    </div>
  </nav>
  {{!-- dark mode end --}}

  <div class="main_header">
    <a class="navbar-brand" href="/" id="logo"><img style="height:100px; background-color:transparent;"
        src="images/logo.png" alt="logo" /></a>
    <div class="right">

      {{!-- PAYPAL --}}
      <form action="/pay" method="post">
        <button class="rightbtn">Pay with Paypal</button>
      </form>
      {{!-- paypal ends --}}

      {{!-- esewa payment html --}}
      <form action="https://uat.esewa.com.np/epay/main" method="POST">
        <input value="1000" name="tAmt" type="hidden">
        <input value="1000" name="amt" type="hidden">
        <input value="0" name="txAmt" type="hidden">
        <input value="0" name="psc" type="hidden">
        <input value="0" name="pdc" type="hidden">
        <input value="EPAYTEST" name="scd" type="hidden">
        <input value="ee2c3ca1-696b-4cc5-a6be-2c40d929d453" name="pid" type="hidden">
        <input value="http://merchant.com.np/page/esewa_payment_success?q=su" type="hidden" name="su">
        <input value="http://merchant.com.np/page/esewa_payment_failed?q=fu" type="hidden" name="fu">
        <button class="rightbtn">Pay with esewa</button>
      </form>
      {{!-- esewa payment html end --}}

      <button class="rightbtn">LOGIN</button>
      <button class="rightbtn">SIGN UP</button>
    </div>
  </div>
  <header>
    <img class="nepalFlag" src="images/nepalflag.png" alt="nepalflag">
    <h1>Nepal Electricity Authority</h1>
    <img class="nepalFlag" src="images/nepalflag.png" alt="nepalflag">
  </header>

<h1 style="text-align: center; font-weight:900">LOGIN FORM</h1>
  <form action="/login" method="POST">
    <div class="form_container">
      <label style="font-size:1.8rem;" for="email">Email:</label>
      <input type="email" name="email" id="email" placeholder="Enter email address.."><br><br>
      <label style="font-size:1.8rem;" for="pw">Password:</label>
      <input type="password" name="password" id="pw" placeholder="Enter your password.."><br><br>
      <input style="margin-bottom: 20px;" type="submit" value="Login" />
    </div>
  </form>


  {{!-- footer starts --}}
  <footer class="footercss" style="w-100 bg-light text-center">
    <p style="height:'10vh',display:'flex',justifyContent:'center',alignItems:'center'">&copy; 2021 SaranshRock. All
      Rights Reserved | Terms and Conditions</p>
  </footer>
  {{!-- footer ends --}}

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  {{!-- Dark mode --}}
  <script>
    $(document).ready(function () {
      $('#dark').click(function () {
        $('body').toggleClass('Active');
        $('.dark').toggleClass('check');
      });
    });
  </script>
  {{!-- dark mode ends --}}

</body>

</html>