<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  {{!--
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"> --}}
  <link rel="stylesheet" href="css/style.css">
  <title>Payment Gateway-saransh@rock</title>
  {{!-- favicon start --}}
  <link rel="icon" href="images/favicon/favicon.png" type="image/png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png" type="image/png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
  <link rel="manifest" href="images/favicon/site.webmanifest">
  <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  {{!-- favicon end --}}

  <style>
    .form-check-inline .form-check-input {
      margin-top: 17px !important;
    }

    .buttoncss {
      padding: 10px 20px;
      margin-bottom: 30px;
      border-radius: 12px;
      font-size: 1.8rem;
      font-weight: 600;
      margin-top: 15px;
    }
  </style>
</head>

<body>

  {{!-- For dark mode --}}
  <nav>
    <div class="dark">
      <div class="Darkcenter">
        <input id="dark" type="checkbox">
      </div>
    </div>
  </nav>
  {{!-- dark mode end --}}

  <div class="main_header">
    <a class="navbar-brand" href="/" id="logo"><img style="height:100px; background-color:transparent;"
        src="images/logo.png" alt="logo" /></a>
    <div class="right">

      {{!-- PAYPAL --}}
      <form action="/pay" method="post">
        <button class="rightbtn">Pay with Paypal</button>
      </form>

      {{!-- esewa payment html --}}
      <form action="https://uat.esewa.com.np/epay/main" method="POST">
        <input value="1000" name="tAmt" type="hidden">
        <input value="1000" name="amt" type="hidden">
        <input value="0" name="txAmt" type="hidden">
        <input value="0" name="psc" type="hidden">
        <input value="0" name="pdc" type="hidden">
        <input value="EPAYTEST" name="scd" type="hidden">
        <input value="ee2c3ca1-696b-4cc5-a6be-2c40d929d453" name="pid" type="hidden">
        <input value="http://merchant.com.np/page/esewa_payment_success?q=su" type="hidden" name="su">
        <input value="http://merchant.com.np/page/esewa_payment_failed?q=fu" type="hidden" name="fu">
        <button class="rightbtn">Pay with esewa</button>
      </form>
      {{!-- esewa payment html end --}}

      {{!-- PAYPAL ENDS --}}
      {{!-- <button class="rightbtn">Pay Online</button> --}}
      <button class="rightbtn">LOGIN</button>
      <button class="rightbtn">SIGN UP</button>
    </div>
  </div>
  <header>
    <img class="nepalFlag" src="images/nepalflag.png" alt="nepalflag">
    <h1>Nepal Electricity Authority</h1>
    <img class="nepalFlag" src="images/nepalflag.png" alt="nepalflag">
  </header>


  <form action="/register" method="POST">
    {{!-- <div class="register_container">
      <label class="labelcss" for="fname">First Name:</label>
      <input type="text" name="fname" id="fname">

      <label class="labelcss" for="lname">Last Name:</label>
      <input type="text" name="lname" id="lname">

      <label class="labelcss" for="us">UserName:</label>
      <input type="text" name="us" id="us">

      <label>Gender:</label>
      <input type="radio" name="gender" value="male">Male
      <input type="radio" name="gender" value="female">Female

      <label class="labelcss" for="email">Email:</label>
      <input type="email" name="email" id="email">

      <label class="labelcss" for="phoneNum">Phone Number:</label>
      <input type="number" name="contactnumber" id="phoneNum">

      <label class="labelcss" for="pw">Password:</label>
      <input type="password" name="password" id="pw">

      <label class="labelcss" for="cpw">Confirm Password:</label>
      <input type="password" name="cpassword" id="cpw">

      <button type="submit">Register</button>
    </div>
  </form> --}}

<h1 style="text-align: center; font-weight:900;">REGISTRATION FORM</h1>
  <div class="container">
    <div class="row">
      <div class="col-10 col-md-8 mx-auto">
        <form>
          <div class="mb-3">
            <label for="exampleInputName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="exampleInputName" name="fname">
          </div>
          <div class="mb-3">
            <label for="exampleInputName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="exampleInputName" name="lname">
          </div>
          <div class="mb-3">
            <label for="exampleInputName" class="form-label">User Name</label>
            <input type="text" class="form-control" id="exampleInputName" name="us">
          </div>
          <div class="mb-3">
            <label class="pr-3">Gender</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="male">
              <label class="form-check-label" for="inlineRadio1">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="female">
              <label class="form-check-label" for="inlineRadio2">Female</label>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Phone Number</label>
            <input type="number" class="form-control" id="exampleInputEmail1" name="contactnumber">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputEmail1" name="password">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputEmail1" name="cpassword">
          </div>
          <button type="submit" class="btn btn-primary buttoncss">Register</button>
        </form>
      </div>
    </div>
  </div>
  <!-- contact us end  -->
  {{!-- footer starts --}}
  <footer style="w-100 bg-light text-center ">
    <p style="height:'10vh',display:'flex',justifyContent:'center',alignItems:'center'">&copy; 2021 SaranshRock. All
      Rights Reserved | Terms and Conditions</p>
  </footer>
  {{!-- footer ends --}}

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  {{!-- Dark mode --}}
  <script>
    $(document).ready(function () {
      $('#dark').click(function () {
        $('body').toggleClass('Active');
        $('.dark').toggleClass('check');
      });
    });
  </script>
  {{!-- dark mode ends --}}

</body>

</html>