  <div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading" style="margin-bottom: 35px;">About Us</h1>
        <div class="row">
          <div class="col-md-6 col-12 hero-text">
            <figure>
             <a href="images/about.jpg" target="_devil"> <img class="aboutimg" src="images/about.jpg" alt="aboutsection"></a>
            </figure>
          </div>
          
          {{!-- right side --}}
          <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
            <p>Nepal Electricity Authority (NEA) was created on August 16, 1985 (Bhadra 1, 2042) under the Nepal Electricity Authority Act. 1984, through the merger of the Department of Electricity of Ministry of Water Resources, Nepal Electricity Corporation and related Development Boards. Nepal Electricity Authority (NEA) is the parent generator and distributor of electric power under the supervision of the government of Nepal.</p>

            <p>NEA owns Hydroelectric Plants connected to the grid amounting to 480 Megawatts. It also buys power from Independent Power Producers (IPP) amounting to 230 Megawatts. The primary objective of NEA is to generate, transmit and distribute adequate, reliable and affordable power by planning, constructing, operating and maintaining all generation, transmission and distribution facilities in Nepal's power system both interconnected and isolated.</p>

            <a href="https://www.nea.org.np/aboutus" target="_pachhai"><button style="font-weight:900" class="btn btn-style btn-primary">Read More</button></a>
          </div>
          
        </div>
      </div>
    </div>
  </div>