<div class="container-fluid mt-5 contact-style" id="contactid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Contact Us</h1>
            <p class="text-center sub-heading">We will be happy to help you</p>
            <div class="row">
                <div class="col-md-6 col-12 mx-auto">

                    <form action="/contact" method="POST" onsubmit="return myFun()">
                      <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Full Name">
                      </div>
                      <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter your email" name="email">
                        <div id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</div>
                      </div>
                      <div class="form-group">
                        <label for="phone">Mobile No.</label>
                        <input type="number" class="form-control" id="phone" name="phone" placeholder="Enter Phone No.">
                      </div>
                      <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" name="message" placeholder="Enter a message.."></textarea>
                      </div>
                      <button type="submit" class="btn-style btn-primary">Submit</button>
                    </form>
                </div>
             </div>
      </div>
    </div>
</div>   

<script>
  function myFun(){
			// var correct_way = /^[A-Z a-z]+$/;
			var name = document.getElementById("name").value;
			var email = document.getElementById("email").value;
			var phone = document.getElementById("phone").value;
		  var message = document.getElementById("message").value;
			

			if(name && email && phone && message){ ){
        alert("Thanks for contacting us");
			}
      else{
        document.getElementById("message").innerHTML="**Please fill the username";
				return false;
      }
  }
</script>