  <div class="container-fluid mt-5 gallery-style" id="galleryid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Gallery</h1>
            <div class="row">
                <div class="col-md-4">
                        <div class="our-gallery">
                               <a href="images/1.jpg" target="_blank"> <img src="images/1.jpg" class="resize" alt="pic1"/></a>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="our-gallery">
                               <a href="images/2.jpg" target="_blank"> <img src="images/2.jpg" class="resize" alt="pic2"></a>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="our-gallery">
                              <a href="images/3.jpg" target="_blank"> <img src="images/3.jpg" class="resize" alt="pic3"></a>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="our-gallery">
                               <a href="images/4.jpg" target="_blank"> <img src="images/4.jpg" class="resize" alt="pic4"></a>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="our-gallery">
                               <a href="images/5.jpg" target="_blank"> <img src="images/5.jpg" class="resize" alt="pic5"></a>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="our-gallery">
                              <a href="images/6.jpg" target="_blank">  <img src="images/6.jpg" class="resize" alt="pic6"></a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>    